body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #363456;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.appContainer {
  /*padding-top: 40px;*/
  
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Come back and delete me later, just to help see the app */
  width: 360px;
  height: 640px;
  border: solid 2px black;
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #363456;
  color: white;
}

.appContainer_nav {
  position: relative;
  width: 360px;
}

.navid {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 1000;
}

.appContainer {
  position: fixed;
  left: 0;
}

.topContainerParent {
  /* display: flex; */
  width: 300px;
  font-size: 22px;
  display: flex;
}

#temperature {
  text-align: center;

  font-size: 80px;
  margin-top: 3px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#conditions {
  width: 4em;
}

.middleContainerParent {
  display: flex;
  margin-top: -25px;
}

.conditionsContainerParent {
  display: flex;
}

.conditionsBarContainer {
  display: flex;
  flex-direction: row;
  width: 360px;
  background-color: #21233c;
  height: 150px;
  padding-top: 20px;
  margin-top: 12px;
}

.condition {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;

  max-width: 35%;
  margin-top: -20px;
  margin-right: 1px;
}

.condition-name{
  font-size: 19px;
  margin-right: -25px;
}

.degree {
  margin-top: 5px;
  font-size: 22px;
  width: 150%;
  margin-left: -5px;
}

/* #condition1,
#codition2,
#condition3 {
  flex: 1;
  justify-content: center;
  align-items: center;
}

#conditionsImgPic1 {
  font-size: x-large;
}

.conditionsImgPic {
  text-align: center;
} */

.bottomContainerParent {
  display: flex;

  /* Changed bottom conatiner to none so isnt visible */
  display: none;
}

.bottomBarContainer {
  display: flex;
  flex-direction: row;
}

/*==================update section=================*/
#updatesContainer {
  /*app container overwrite*/
  padding-top: 0% !important;
}
#updatesTitleContainer {
  width: 100%;
}

#updatesTitle {
  text-align: left !important;
  padding-left: 0.5em;

  /*h2 overwrite*/
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.feed {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.feedElement {
  text-align: left !important;
  margin: 5%;
  flex-direction: column;
  padding-left: 0.3em;
  position: relative;
  background-color: #2d2b47;
  border-radius: 1.5%;
}

.feedTitle {
  font-size: 1.2em;

  /*h3 overwrite*/
  margin-block-start: 0.5em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.feedDateTime {
  /*h4 overwrite*/
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}

.feedDescription {
  /*p overwrite*/
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}

/*==================settings section=================*/
#scrollContainerSettings{
  text-align: left !important;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 360px;
  height: 640px;
} 
