.spinner {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.spinner span {
    font-size: 3.5rem;
    animation: fade 1s linear 0s infinite;
    padding-right: 1rem;
    margin-left: 1145px;
    margin-top: -180px;
    letter-spacing: 0.1em;
}

img {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    max-width: 35%;
    margin-left: 440px;
    margin-top: -35px;
}

.title {
    letter-spacing: 0.2em;
    font-size: 24px;
}

@keyframes bigger {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(2);
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}